.is-invalid {
    border-color: red;
}

.error {
    color: #d03131;
    max-width: 200px;
    margin-top: 0.25rem;
    font-size: 0.75rem;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-group input {
    max-width: 200px;
}

.form-control {
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 0.25rem;
}